<!--
`nuxeo-test-edit-layout`
@group Nuxeo UI
@element nuxeo-test-edit-layout
-->
<dom-module id="nuxeo-test-edit-layout">
  <template>
    <style>
      *[role='widget'] {
        @apply --nuxeo-widget;
      }
    </style>

    <nuxeo-input role="widget" name="Title" label="Title" value="{{document.properties.dc:title}}" autofocus required>
    </nuxeo-input>

    <nuxeo-textarea role="widget" name="Description" label="Description" value="{{document.properties.dc:description}}">
    </nuxeo-textarea>
  </template>

  <script>
    Polymer({
      is: 'nuxeo-test-edit-layout',
      behaviors: [Nuxeo.LayoutBehavior],
      properties: {
        /**
         * @doctype Test
         */
        document: Object,
      },

      validate() {
        return this.document.properties['dc:description'] !== this.document.properties['dc:title'];
      },
    });
  </script>
</dom-module>
