<!--
`nuxeo-file-widget-create-layout`
@group Nuxeo UI
@element nuxeo-file-widget-create-layout
-->
<dom-module id="nuxeo-file-widget-create-layout">
  <template>
    <style>
      *[role='widget'] {
        @apply --nuxeo-widget;
      }
    </style>
    <nuxeo-input role="widget" value="{{text}}" label="Title" required></nuxeo-input>

    <nuxeo-input role="widget" value="{{longText}}" label="Description"></nuxeo-input>

    <div role="widget">
      <label>File</label>
      <nuxeo-file value="{{data}}" name="files"></nuxeo-file>
    </div>
  </template>

  <script>
    Polymer({
      is: 'nuxeo-file-widget-create-layout',
      behaviors: [Nuxeo.LayoutBehavior],
      properties: {
        text: String,
        longText: String,
        data: Object,
      },
    });
  </script>
</dom-module>
